<% provide(:title, "About") %>
<h1>About Meowing the lawn</h1>
<p>Writing this website to make humans mewv more like we do.</p>
<p>Until there is something self-made, these texts use <a href="http://kittify.herokuapp.com/#">this kittifier</a></p>